		</article>
		<div class="container">
		<% if (success) { %>
  			<div><%= success %></div>
		<% } %>
		<% if (error) { %>
		  	<div><%= error %> </div>
		<% } %>
		</div>
	</body>

	<div class="navbar navbar-duomi navbar-fixed-bottom">
		<div class="container">
		    <p class="navbar-text pull-left">&copy; With MongoDB + Express4 + EJS + BootStrap3 + Node</p>
		</div>
	</div>
</html>