<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="http://slknate.cnblogs.com">我的博客</a></h3>我的博客</li>
  <li><h3><a href="http://www.cnblogs.com">代码改变世界</li>
</ul>
<%- include footer %>