<%- include header %>
<div class="container">
<form method='post' action='/upload' enctype='multipart/form-data' >
  <input type="file" name='file'/><br>
  <input type="file" name='file'/><br>
  <input type="file" name='file'/><br>
  <input type="file" name='file'/><br>
  <input type="file" name='file'/><br>
  <input type="submit" class="btn btn-primary" />
</form>
<div class="container">
<%- include footer %>